{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ead648596a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Keiko</title>
</head>
<body>
   <div class="center">
    <div class="avatar">
      <img src='{% static "pp.jpg" %}' alt="photo profile">
    </div>
    <div class="content">
      <h3>Keiko Aaliya Hernowo Putri</h3>
      <h5>Sistem Informasi, Fasilkom UI</h5>
      <h5>NPM: 1906298960 </h5>
      <h5>Angkatan: 2019</h5>
      <h5>Deskripsi diri:</h5>
      <p>
        Saya adalah salah satu mahasiswi Sistem Informasi Fakultas Ilmu Komputer UI yang sedang menempuh pendidikan di semester 3. Pada semester ini saya mengambil salah satu mata kuliah, yaitu Perancangan dan Pemrograman Web (PPW). Jujur saya sangat takut dengan mata kuliah ini karena dari persepsi saya, membuat suatu website merupakan hal yang kompleks. Semoga saya bisa lulus mata kuliah ini, Aamiin. Mungkin itu adalah deskripsi singkat saya dibidang akademis. Jika deskripsi secara personal, saya itu bisa dibilang orang yang periang dan mampu menghidupkan suasana. Banyak yang mengira saya itu pribadi yang ekstrovert, namun sebenarnya saya lebih merasakan mendapat energi kembali ketika saya sendiri.
      </p>
      <h5>Hobi:</h5>
      <div class="row">
        <div class="column">
          <img src='{% static "sleep.jpg" %}' alt="sleep" style="width:25%">
        </div>
        <div class="column">
          <img src='{% static "organize.jpg" %}' alt="organize" style="width:25%">
        </div>
      </div>
      <p>
        Hobi saya seperti dua foto diatas, yaitu tidur dan mengorganisir sesuatu.
      </p>
      <br>
      <div>
        <h5>Riwayat Pendidikan</h5>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">NO</th>
              <th scope="col">Tingkat</th>
              <th scope="col">Instansi</th>
              <th scope="col">Tahun</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Perguruan Tinggi</td>
              <td>Universitas Indonesia</td>
              <td>2019 - sekarang</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Sekolah Menengah Atas</td>
              <td>SMAN 3 Kota Tangerang Selatan</td>
              <td>2016 - 2019</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Sekolah Menengah Pertama</td>
              <td>SMPN 11Kota Tangerang Selatan</td>
              <td>2013 - 2016</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Sekolah Dasar</td>
              <td>SDN PUSPIPTEK</td>
              <td>2007 - 2013</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5>
        Contact Me
      </h5>
    <div class="social">
      <a href="http://instagram.com/keikoaaliya"><img src='{% static "ig.png" %}' alt="igkeiko" style="width:6%"></i></a>
      <a href="http://linkedin.com/in/keikoaaliya"><img src='{% static "linkedin.png" %}' alt="linkedinkeiko" style="width:4%"></i></a>
      <a href="http://line.me/ti/p/~keikoahp"><img src='{% static "line.png" %}' alt="organize" style="width:6%"></i></a>
    </div>
    </div>
   </div>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
